$degree-icon: url('https://api.iconify.design/wi/degrees.svg?color=white') no-repeat center center / contain;
$down-arrow: url('https://api.iconify.design/akar-icons/arrow-down.svg?color=white') no-repeat center center / contain;
$up-arrow: url('https://api.iconify.design/akar-icons/arrow-up.svg?color=white') no-repeat center center / contain;
